alias ..="cd .."
alias la="ls -Gla"
alias lsd='ls -l | grep "^d"'
alias gr="grep --color -r"
# shortcuts
alias g="git"
alias v="vim"
alias m="mate ."
alias gsl='git show $(git stash list | cut -d":" -f 1)'